    <h1>About</h1>

    <p>
         TweetSniper allows you to temporariliy remove annoying people from your stream of tweets.
    </p>

    <p>
        Based loosely on <a href="http://railstutorial.org/">Rails Tutorial</a>
    </p>
