
    <p>
       <h2 id="welcome">Welcome to Tweet Sniper!</h2>
       <h6>Temporarily "take out" tweets from annoying people</h6>
    </p>


    <% if !signed_in? %>
      <br />

      <% if session[:is_registered] %>
        <%= link_to "Login", signin_path, :class => 'signup_button round', :style => "padding-bottom: 5px; padding-top: 5px;" %>
      <% else %>
        <%= link_to "Sign up now!", signup_path, :class => 'signup_button round' %>
      <% end %>

    <% else %>
      <p>
        <span style="font-style:italic">
          <div id="arrow-right"></div>
          <div id="arrow-right"></div>
          <div id="arrow-right"></div>
          <div id="arrow-right"></div>
          <div id="arrow-right"></div>
          &nbsp;
          <%= link_to "Login to Twitter", "/auth/twitter" %> 
          &nbsp;
          <div id="arrow-left"></div>
          <div id="arrow-left"></div>
          <div id="arrow-left"></div>
          <div id="arrow-left"></div>
          <div id="arrow-left"></div>
        </span>
      </p>
    <% end %>

