<h1>Editing tribe</h1>

<%= form_for(@tribe, :url => {:controller => "tribes", :action => "update", :user_id => current_user.id}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :command => "edit"} %>
<% end %>

<br />

<%= link_to 'Show', user_tribe_path(@tribe, :user_id => current_user.id) %> |
<%= link_to 'Back', user_tribes_path(:id => current_user.id) %>

